.header-icon {
    width: 45px;
    margin-right: 16px;
}

.header-text {
    font-weight: 500;
    font-size: 20px;
}

.header-items {
    flex: 1 1 auto;
}

.mat-icon {
    color: black;
    font-size: 40px;
    height: 40px ;
    width: 40px;
}