<section>
    <div class="card-section">
        <div class="card-container" *ngFor="let quote of quotes">
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <img mat-card-image src="../../../assets/card_img.jpg" alt="quote" class="card-img">
                    </div>
                    <mat-card-title>{{quote.author}}</mat-card-title>
                    <mat-card-subtitle>{{quote.tag}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="card-content">{{quote.content}} </p>
                </mat-card-content>
                <div class="card-icons" *ngIf="quote.icon">
                    <button mat-mini-fab color="warn" (click)="deleteQuote()"
                        matTooltip="Careful! This button will delete all quotes">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-mini-fab (click)="openModal()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </div>

    <app-modal *ngIf="createQuote" (closeModal)="closeModal()"  (newQuoteAdded)="editQuote()">
    </app-modal>
</section>