.body-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-error{
    width: 500px;
}

.text-error {
    color: white;
    font-size: 25px;
}